# Build Folders
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# Visual Studio Code
.vscode/

# Rider
.idea/
*.sln.iml

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# NuGet
*.nupkg
*.snupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# Entity Framework
*.edmx.diagram
*.edmx.sql

# Azure
.localhistory/
*.publishsettings
*.azurePubxml
*.azurePubxml.user

# Resharper
_ReSharper*/
*.DotSettings.user

# Windows
Thumbs.db
desktop.ini

# macOS
.DS_Store

# Linux
*~

# JetBrains Rider
.idea/
*.sln.iml

# Coverage
*.coverage
*.coveragexml
coverage.opencover.xml
coverage.cobertura.xml

# Others
*.vs/